<hr/>
  <footer >
    <div class="buttons">
         <div class="buttonemptyside">
        </div>  
         <div class="buttonside"> 
             <div class="btncontent"> 
                <h1>SUBSCRIBE TO GET MORE</h1>
                <p>What Designers Photographers and Others Insiders Missed About Paris Fashion Week Others badges Insiders Missed About Paris Fashion Week About Paris Fashion Week Paris Fashion Week. </p>
                 <div class="btncontentleft">
                    <div class="bouton">
                       <p> Learn More </p>
                    </div>
                </div>
                <div class="btncontentright">
                    <div class="bouton">
                        <p>Buy now for <b>$10.99</b> (monthly)</p>
                        </div>
                 </div> 
             </div> 
        </div> 
         <div class="buttonemptyside">
        </div>  
    </div>
    <hr/>
    <div class="contacts">
        <div class="contactaddressleft">
            <p class="emaitext">Send Me News</p>
            <input type="text" placeholder="Enter your email"/>
        </div>
        <div class="contactaddressright">
         <div class="contactaddressnavs">
            <div class="contactaddressside">
                <p class="emaitext">CONTENT</p>
                <ul>
                    <li>
                        <a>Blog</a>
                    </li>
                    <li>
                        <a>Podcasts</a>
                    </li>
                    <li>
                        <a>Books</a>
                    </li>
                    <li>
                        <a>Subscription</a>
                    </li>
                </ul>
            </div>
            <div class="contactaddressside">
                <p class="emaitext">COMPANY</p>
                <ul>
                    <li>
                        <a>About</a>
                    </li>
                    <li>
                        <a>Contact Us</a>
                    </li>
                    <li>
                        <a>Partnership</a>
                    </li>
                    <li>
                        <a>Careers</a>
                    </li>
                </ul>
            </div>
            <div class="contactaddressside">
                <p class="emaitext">SOCIAL</p>
                <ul>
                    <li>
                        <a>Instagram</a>
                    </li>
                    <li>
                        <a>Facebook</a>
                    </li>
                    <li>
                        <a>Linkedin</a>
                    </li>
                    <li>
                        <a>Youtube</a>
                    </li>
                </ul>
            </div>
        </div>
     </div>
    </div>
    <div class="copyright">
      <div class="copyrightleft"><strong> Q.</strong> <em>Studio</em></div>
      <div class="copyrightright">
        <div class="copyrightrightside"> @2021 Q.Studio by oumar sy</div>
        <div class="copyrightrightside"> All right reserved</div>
        <div class="copyrightrightside"> Privacy</div>
        <div class="copyrightrightside"> contact </div>
      </div>
    </div>
  </footer>
  <script>
    const menuHumberger = document.querySelector(".menu-humberger")
    const navbar = document.querySelector(".navbar")
    menuHumberger.addEventListener('click', ()=>{
        navbar.classList.toggle('mobile-menu') 
    })
  </script>
</body>
</html>