* {
    box-sizing: border-box;
  }
   @font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-Bold.ttf");
   }
   body {
    font-family: Roboto;
    margin: 0;
    padding: 20px;
  }
  .header::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
    
  }
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar ul li {
   display: inline;
   padding-left: 50px;
  }
  
  .navbar li :active {
    text-decoration: underline;
    text-underline-offset: 6px;
    font-weight: bold;
  }
  .navbar {
    flex: 60%;
    padding: 20px;
    
  }
  
  .header .menu-humberger {
    display: none;
    position: absolute;
    top: 40px;
    right: 50px;
    width: 20px;
    height: 20px;
  }
  .navbar a {
    color: #bbb;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
  }
  .navbar a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
  }
  .navbar .actived {
    text-decoration: underline;
    text-underline-offset: 8px;
    color: #000;
  }
  .header {  
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }
  .headerside {
    flex: 15%;
    padding: 20px;
    
  }
  .headerside p {
    font-size: 18px;
  }
  .headerrightside {
    flex: 25%;
    padding: 20px;
  }
  .headerrightside img {
    margin-right: 15px;
  }
  .presentation {
    display: flex;
    flex-wrap: wrap;
    
  }
  .left {
    flex: 65%;
    padding: 20px;
  }
  .middle {
    flex: 5%;
    height: auto;
    border-left: 2px solid #BBB;
    padding-left: 20px;
    padding: 20px;
  }
   .right {
    flex: 30%;
    padding: 20px;
  }
   .row {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
   }
   .one {
    justify-content: flex-start;
    margin-left: 20px;
   }
   .two {
    justify-content: flex-end;
    margin-right: 20px;
   } 
   .two p {
    text-decoration: underline;
   }
  .postinfo {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
    align-items: baseline;
    color: #bbb;
  }
  .date {
    justify-content: flex-start;
  }
  .author {
    justify-content: flex-end;
    align-items: baseline;
  }
  .trait {
    height: 1px;
    width: 25px;
    border: 2px solid #bbb;
    display: inline-block;
  }
  hr {
    border: 1px solid rgb(219, 217, 217);
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
  }
  .trending {
    display: flex;
    flex-wrap: wrap;
  }
  .trendingside {
    flex: 30%;
    padding: 20px;
  }
  .articles {
    display: flex;
    flex-wrap: wrap;
  }
  .articleleftside {
    flex: 30%;
    padding: 20px;
  }
  .articlerightside {
    flex: 70%;
    padding: 20px;
  }
  .bestsellers {
    display: flex;
    flex-wrap: wrap;
  }
  .bestsellerside {
    flex: 20%;
    padding: 20px;
    display: inline-block;
    justify-content: baseline;
  }
  .sellerbloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0%;
  }

  .sellerimage {
    justify-content: center;
    align-items: center;
  }
  .sellerdetails {
    justify-content: center;
    align-items: center;
    padding: 0%;
    width: 65%;
  } 
  .sellerdetails p {
    color: #bbb;
  }
  .sellerbloc .bouton {
    border: 1px solid black;
    width: 65%;
    height: 50px;
    text-align: center;
    padding: 5%;
  }
  .podcasts {
    display: flex;
    flex-wrap: wrap;
  }
  .podcastsleftside {
    flex: 30%;
    padding: 20px;
  }
  .podcastsrightside {
    flex: 70%;
    padding: 20px;
  }
  .info {
    flex: 100%;
    padding: 5px;
  }
  .info p {
    color: #bbb;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
  }
  .myfoot {
    display: flex;
    flex-wrap: wrap;
  }
  .buttonside {
    flex: 50%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    
  } 
  .buttonemptyside {
    flex: 25%;
    padding: 20px;
    
  } 
  .buttonside button {
    justify-content: center;
  }
   .btncontent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding: 20px;
  }  
  .btncontent .bouton {
    height: 50px;
    text-align: center;
    color: #fff;
    background-color: #000;
  }
  .btncontentleft {
    flex: 35%;
    width: 100%;
    padding: 10px ;
    align-content: center;
  }
  .btncontentleft p {
    text-align: center;
    padding-top: 15px;
  }
  .btncontentright p {
    text-align: center;
    padding-top: 15px;
  }
  .btncontentright {
    flex: 65%;
    width: 100%;
    padding-right: 0;
    
  }
  .contacts {
    display: flex;
    flex-wrap: wrap;
  }
  .contactaddressleft {
    flex: 50%;
    padding: 20px;
  }
  .contactaddressright {
    flex: 50%;
    padding: 20px;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .contactaddressside {
    flex: 33.33;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .contactaddressnavs{
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .contactaddressside {
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 105px;
  }
  .contactaddressside ul {
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 35px;
  }
  .contactaddressside ul a {
    justify-content: flex-end;
    align-items: flex-end;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    margin-top: 10px;
  }
 
  input {
    border: none;
    border-bottom: 2px solid #000; 
    width: 60%;
    padding-top: 15px;
 }
 input ::placeholder {
  padding-bottom: 20px;
 }
 ::placeholder {
  color: #4f4e4e;
} 
.emaitext {
  font-size: 25px;
  color: #000;
  font-weight: bold;
}
.copyright {
  display: flex;
  flex-wrap: wrap;
}
 .copyrightleft {
  flex: 35%;
  padding: 20px;
}
.copyrightright {
  flex: 65%;
  flex-wrap: wrap;
  display: flex;
  padding-top: 20px;
  align-items: flex-start;
  justify-content: flex-start;
} 

 .copyrightleftside {
  padding: 20px;
  color: #BBB;
}
.copyrightleftside strong {
  color: #000;
}
.copyrightleftside em {
  color: #bbb;
}
.copyrightrightside {
  flex: 22.5%;
  justify-content: flex-start;
  align-items: flex-start;
  color: #838282;
} 

@media screen and (max-width: 700px) {
  .header, .presentation, .row, .trending, .articles, .bestsellers, .podcasts {   
    flex-direction: column;
  }
  footer {
    padding-left: 0%;
    flex-direction: column;
  }
}
@media screen and (max-width: 832px) {
  .header .menu-humberger {
    display: block;
  }
  .headerrightside, .middle {   
    display: none;
  }
  .navbar.mobile-menu {
    margin-left: 0;
  }
  .navbar {
    flex: 60%;
    padding: 20px;
     margin-left: -100%; 
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
    padding-top: 80px;
  }
  .navbar ul li {
   margin: 25px 0;
   font-size: 1.2em;
  }
  .navbar {
    top: 0px;
    left: 0;
    position: absolute;
    background-color: rgba(255 255 255, 0.2);
    width: 35%;
    height: 50%;
    backdrop-filter: blur(4px);
    justify-content: center;
    align-items: center;
  }
}
